
<div class="container mat-app-background">
  <mat-toolbar color="primary">
    Angular Dark Mode
    <span class="spacer"></span>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
    <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar>

  <button mat-button> Default </button>
  <button mat-button color="primary"> Primary </button>
  <button mat-button color="accent"> Accent </button>
  <button mat-button color="warn"> Warn </button>
</div>
